.landingContainer {
    background-color: #1d2733;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mainPage {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}