.header {
    width: 100%;
    display: flex;
    color: white;
    flex: 1;
    padding: 230px 20px 0px 19px;
    background-image: url(https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: 0px -140px;
    align-items: center;
    box-shadow: 0px 0px 5px black;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-menu {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header-logo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.header-searchBar {
    display: flex;
    flex: 11;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 50px;

}

.header-searchBar input {
    color: #272849;
    background-color: white;
}


.header-userInfo {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
}