.messages-input {
    border-top: 2px solid #2b1e482c;;
    border-bottom: 2px solid #2b1e482c;;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.input-field {
    width: 70%;
    border: none;
    outline: none;
    font-size: 18px;
}

.fa-paper-plane  {
    font-size: 30px;
}

.send {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
