.left-sidebar-child {
    height: 100%;
    display: flex;
    background-color: rgb(208, 208, 208);
    flex-direction: column;
}

.left-sidebar-child-info {

    margin: 5px;
    padding-top: 10px;

}

.left-sidebar-child-conversation {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 10px;
}