.chat-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #2b1e482c;
    width: 100%;
}

.fa-solid {
    padding: 10px;
}

.fa-solid:hover {
    color: brown;
    padding: 10px;
    background-color: rgba(1, 1, 86, 0.03);
    box-shadow: 2px 2px 5px #2b1e48;
    border-radius: 10px;
    cursor: pointer;
}