hr {
    margin: 15px;
}
#myFileInput {
    display: none;
  }
  
#outer-container {
    background-color: #576075;
    padding: 30px;
}

#inner-wrapper-container {
    background-color: #1e2128;
    margin: 0 auto;
    border-radius: 10px;
    padding: 2%;
    width: 90%;
    flex-direction: column;
    align-content: center;
    padding-top: 10px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
}

.welcomeMessage {
    display: flex;
    font-size: 36px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
}

.inner-container {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    list-style: none;
    padding-left: 10px;
}

.btn-style {
    color: white;
    background-color: #ff7979;
    line-height: 2;
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
}

.btn-style.active,
.btn-style:hover {
    background-color: #6c5dd2;
}

.main-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: #242632;
    box-shadow: 5px 5px 15px 5px #000;
}

#image-frame {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
    width: 100%;
    border-radius: 10px;
    background: transparent;
    background-image: url(../pictures/background-picture-test1.jpg);
    background-size: cover;
}

.image-container img {
    width: 100%;
}

.search-container {
    border-radius: 10px;
    width: 50%;
    margin-bottom: 10px;
}

.search-container input {
    color:white;
    height: 40px;
    width: 100%;
    background-color: #2f323b;
    border-radius: 10px;
    border: none;
    padding: 0 15px;
    opacity: 0.9;
    color: white;
}

.clear-button {
    position: absolute;
    margin: 0px;
    transform: translate(-70%, -140%);
    left: 75%;
    border-radius: 10px;
   
}

.search-container input:hover {
    border-color: #6c5dd2;
}

#outer-content-div-test {

    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.inner-content-div-test {
    width: 150px;
    height: 150px;
    gap: 10px;
    color: white;
    border-radius: 10%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 8px;
    background-color: #2f323b;
    box-shadow: 5px 5px 15px 5px #000;
    position: relative;

}

.inner-content-div-test img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
    box-sizing: border-box;
}

.inner-content-div-test span {
    position: absolute;
    top: 25px;
    right: 10px;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 15px black;
}

.inner-content-div-test p {
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 10px;
    width: 50%;
    background-color: #2f323b;
    padding: 3px;

}

.inner-content-div-test:hover {
    box-shadow: 0px #000;
    background-color: #1e2128;
    transform: scale(1.1);
    border-color: white;
}

.inner-content-div-test:hover .inner-content-div-p {
    visibility: visible;
}

.inner-content-div-p {
    visibility: hidden;
}

#current-result {
    display: none;
    justify-content: center;
    color: white;
    padding-top: 15px;
}

#search-container {
    display: flex;
    justify-content: flex-end;
}

.inner-content-div-img {
    display: flex;
    height: 70px;
}

.inner-content-div-img h2 {
    font-size: 10px;
}

.icon-heart {
    color: white;
    border: 1px solid green;
    font-size: 24px;
}

.fav {
    cursor: pointer;
}

.favourites-container-random,
.favourites-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.favourites-container .inner-content-div-test{
    margin: 10px;
}

.inner-favourites-container {
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fav-title {
    color: white;
    font-style: italic;
    text-transform: capitalize;
    margin: 0px;
}

.about-view {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inner-fav-title {
    margin: 0px;
    padding-bottom: 10px;
    color: white;
}

.gif-img {
    display: none;
}

.image-wrapper:hover .gif-img {
    display: block;
}

.image-wrapper:hover .still-img {
    display: none;
}

.render-single-details {
    display: flex;
}

.render-single-details img{
      width: 300px;
      height: auto;
      border-radius: 10px;

}

.render-single-details p{
    margin: 5px;
}

.inner-text-btn-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

#my-uploads-btn {
    display: none;
    padding: 0px 0px 0px 13px;
    margin-top: 3px;
    font-size: 18px;
}
