.Calendar {
    text-align: center;
}


.Calendar-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Calendar-link {
    color: #61dafb;
}