.message {
    display: flex;
    padding: 0px 20px;
    align-items: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.message-owner {
    display: flex;
    padding: 0px 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.p {
    max-width: max-content;
}

.time-span {
    color: gray;
    font-size: 10px;
}

.message-content {
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.message-img {
    padding: 10px;
    margin: 10px;
    height: 200px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
}

.message-buttons button{
    background-color: rgb(54, 9, 9);
    border-radius: 10px;
    color: white;
}
.message-buttons button:hover{
    background-color: rgb(106, 19, 104);

}

.message-info {
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
}